<ion-header>
  <ion-toolbar>
    <ion-title>{{'login.page' | translate}}</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label>{{'userName' | translate}}</ion-label>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'password' | translate}}</ion-label>
        <ion-input type="text" formControlName="password"></ion-input>
      </ion-item>
      <ion-buttons>
      <ion-button  type="submit" [disabled]="!loginForm.valid" expand="block">{{'login' | translate}}</ion-button>
      <ion-button (click)="register()" color="secondary" expand="block">{{'register' | translate}}</ion-button>
      </ion-buttons>
  </form>
</ion-content>

<app-footer></app-footer>
